@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

*{
    font-family: 'Baloo Da 2', cursive;
}

div {
      background-color: lightgrey;
}

body{
    background-color: aquamarine;
}